<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.oracle.LoginMapper">
<!-- idが存在したら１を送る -->
<select id="selectId" resultType="Integer">
    SELECT count(LoginUser)
    FROM sys_user
    WHERE
    loginuser =#{id}
    </select>
	<!--認証処理エラーが発生   -->
  <select id="selectLogin" resultType="jp.co.info.ais.ops.domain.Login">
	  SELECT
	  	 su.loginuser AS loginuser
	  	,sp.syuuseitime AS syuuseitime
		,su.passwd AS passwd
		,su.username AS username
		,su.usernamekana AS usernamekana
		,su.usergroupcd AS usergroupcd
		,su.mailgroupcd AS mailgroupcd
		,su.secretflg AS secretflg
		,su.mobiletel AS mobiletel
		,su.mailaddr AS mailaddr
		,su.sendmailflg AS sendmailflg
		,(SELECT PWDMAXAGE FROM SYS_PASSWORDPOLICY) AS pwdmaxage
	  FROM Sys_User su, Sys_Password sp
	  WHERE su.loginuser = #{id}
	  AND su.passwd = #{pass}
	  AND su.loginuser = sp.loginuser
	  AND ROWNUM = 1
	  ORDER BY sp.revno DESC
    </select>
 </mapper>
