<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.oracle.SettingOracleMapper">

	<select id="settingList" resultType="jp.co.info.ais.ops.domain.Setting">
	       SELECT sitecd, sitename
	         FROM tbl_site
		    WHERE
		    <choose>
		        <when test=" settings == null || settings.isEmpty()">
		            1 = 1
		        </when>
		        <otherwise>
		            sitecd IN <foreach item="setting" index="index" collection="settings" open="(" separator="," close=")">#{setting.sitecd}</foreach>
		        </otherwise>
		    </choose>
	</select>

	<delete id="deleteCustomerno" parameterType="String">
    	DELETE FROM tbl_jikahorenrakusettei
    	WHERE
    		customerno =#{customerno}
    </delete>

	<update id="updateStatus" parameterType="jp.co.info.ais.ops.domain.Setting">
		UPDATE tbl_jikahorenrakusettei
			<set>
			<if test="status != null and !status.equals('')">
				status=#{status},
				starttime=TO_TIMESTAMP(#{starttime}, 'YYYY/MM/DD HH24:MI:SS'),
			</if>
			<if test="endjdgsw != null and !endjdgsw.equals('')">
				endjdgsw=#{endjdgsw}
			</if>
			</set>
		WHERE customerno= #{customerno}
	</update>

	<!-- 詳細設定用 -->
	<select id="getSiteList" resultType="jp.co.info.ais.ops.domain.Site">
	       SELECT sitecd, sitename
	         FROM tbl_site
	        WHERE ( sitedel = 0 OR  sitedel is null )
	     ORDER BY sitename DESC
	</select>

 </mapper>
