<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.oracle.UserMasterOracleMapper">

	<!--リスト表示  -->
	<select id="usermasterList" resultType="jp.co.info.ais.ops.domain.UserMaster">
		SELECT
			loginuser,
			username,
			usernamekana
		FROM sys_user
		order by loginuser asc
	</select>

	<!--リスト表示  -->
	<select id="getUserList" resultType="jp.co.info.ais.ops.domain.UserMaster">
		SELECT
			  su.loginuser AS loginuser
			  ,su.username AS username
			  ,su.mailaddr AS mailaddr
			  ,su.usernamekana AS usernamekana
			  ,su.pcmailaddr AS pcmailaddr
			  ,su.mobiletel AS mobiletel
			  ,sm.mailgroupname AS mailgroupname
		 FROM sys_user su JOIN SYS_MAILGROUP sm ON (su.mailgroupcd = sm.mailgroupcd)
		 order by su.usernamekana asc
	</select>

 </mapper>
