<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.ContactMapper">

	<!--リスト表示  -->
	<select id="contactList" resultType="jp.co.info.ais.ops.domain.Contact">
		SELECT
			(ROW_NUMBER() OVER()) AS rownum,
			cm.contactcd as contactcd,
			cm.contactname as contactname,
			cm.contactphoneno as contactphoneno,
			cm.contactmailaddress as contactmailaddress,
			rs.startcontactcd as startcontactcd,
			rs.endcontactcd as endcontactcd
		FROM tbl_jikahocontactmaster cm LEFT OUTER JOIN tbl_jikahorenrakusettei rs
        ON cm.contactcd = rs.startcontactcd or cm.contactcd = rs.endcontactcd;
	</select>

	<!--contact削除  -->
	<delete id="deleteContact" parameterType="int">
    	DELETE FROM tbl_jikahocontactmaster
    	WHERE
    		contactcd =#{contactcd}
    </delete>

	 <!--contact編集  -->
	 <update id="updateContact" parameterType="jp.co.info.ais.ops.domain.Contact">
		update tbl_jikahocontactmaster set
		contactname=#{contactname},
		contactphoneno=#{contactphoneno},
		contactmailaddress=#{contactmailaddress}
		where
		contactcd=#{contactcd}
	</update>

	<!--contact新規  -->
	<insert id="addContact" parameterType="jp.co.info.ais.ops.domain.Contact">
		insert into tbl_jikahocontactmaster(
			contactname,
			contactphoneno,
			contactmailaddress
			) values(
			#{contactname},
			#{contactphoneno},
			#{contactmailaddress}
			)
	</insert>

 </mapper>
