<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.postgre.DetailTabMapper">

	<select id="selectInfo" resultType="jp.co.info.ais.ops.domain.DetailTab">
		SELECT
				customerno
				,customer
				,sitename
				,address
				,outermailaddr
				,intermailaddr
				,adminuserid
				,adminusername
				,adminmailaddress
				,upoaid
				,upoaname
				,upoatime
		FROM tbl_jikahorenrakusettei
	   WHERE customerno =#{id}
	</select>

	<insert id="insertDetail" parameterType="jp.co.info.ais.ops.domain.DetailTab">
		insert into tbl_jikahorenrakusettei
		(
			customerno
			,customer
			,sitecd
			,sitename
			,address
			,outermailaddr
			,intermailaddr
			,adminuserid
			,adminusername
			,adminmailaddress
			,upoaid
			,upoaname
			,upoatime
		) values(
			#{customerno}
			,#{customer}
			,#{sitecd}
			,#{sitename}
			,#{address}
			,#{outermailaddr}
			,#{intermailaddr}
			,#{adminuserid}
			,#{adminusername}
			,#{adminmailaddress}
			,#{upoaid}
			,#{upoaname}
			,current_timestamp
		)
	</insert>

	 <update id="updateDetail" parameterType="jp.co.info.ais.ops.domain.DetailTab">
		UPDATE tbl_jikahorenrakusettei SET
			customer=#{customer}
			,sitecd=#{sitecd}
			,sitename=#{sitename}
			,address=#{address}
			,outermailaddr=#{outermailaddr}
			,intermailaddr=#{intermailaddr}
			,adminuserid=#{adminuserid}
			,adminusername=#{adminusername}
			,adminmailaddress=#{adminmailaddress}
			,upoaid=#{upoaid}
			,upoaname=#{upoaname}
			,upoatime=current_timestamp
		WHERE
			customerno=#{customerno}
	</update>

 </mapper>
