<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.postgre.DetailTabMapper">

	<select id="checkCustomerNo" resultType="Integer">
    	SELECT count(customerno)
    	  FROM tbl_jikahorenrakusettei
         WHERE
               customerno =#{id}
    </select>
	<select id="selectInfo" resultType="jp.co.info.ais.ops.domain.DetailTab">
		SELECT
				customerno
				,customer
				,sitecd
				,sitename
				,jdgsw
				,status
				,endjdgsw
				,address
				,outermailaddr
				,intermailaddr
				,adminuserid
				,adminusername
				,adminmailaddress
				,adminphoneno
				,upoaid
				,upoaname
				,upoatime
				,startcontactcd
				,startvoicepath
				,startvoicecycl
				,startvoicecnt
				,startsubject
				,startmailtext
				,endcontactcd
				,endvoicepath
				,endvoicecycl
				,endvoicecnt
				,endsubject
				,endmailtext
		FROM tbl_jikahorenrakusettei
	   WHERE customerno =#{id}
	</select>

	<insert id="insertDetail" parameterType="jp.co.info.ais.ops.domain.DetailTab">
		insert into tbl_jikahorenrakusettei
		(
			customerno
			,customer
			,sitecd
			,sitename
			,jdgsw
			,status
			,endjdgsw
			,address
			,outermailaddr
			,intermailaddr
			,adminuserid
			,adminusername
			,adminphoneno
			,adminmailaddress
			,upoaid
			,upoaname
			,upoatime
			,startcontactcd
			,startvoicepath
			,startvoicecycl
			,startvoicecnt
			,startsubject
			,startmailtext
			,endcontactcd
			,endvoicepath
			,endvoicecycl
			,endvoicecnt
			,endsubject
			,endmailtext
		) values(
			#{customerno}
			,#{customer}
			,#{sitecd}
			,#{sitename}
			,#{jdgsw}
			,'0'
			,'0'
			,#{address}
			,#{outermailaddr}
			,#{intermailaddr}
			,#{adminuserid}
			,#{adminusername}
			,#{adminphoneno}
			,#{adminmailaddress}
			,#{upoaid}
			,#{upoaname}
			,current_timestamp
			,#{startcontactcd}
			,#{startvoicepath}
			,#{startvoicecycl}
			,#{startvoicecnt}
			,#{startsubject}
			,#{startmailtext}
			,#{endcontactcd}
			,#{endvoicepath}
			,#{endvoicecycl}
			,#{endvoicecnt}
			,#{endsubject}
			,#{endmailtext}
		)
	</insert>

	 <update id="updateDetail" parameterType="jp.co.info.ais.ops.domain.DetailTab">
		UPDATE tbl_jikahorenrakusettei SET
			customer=#{customer}
			,sitecd=#{sitecd}
			,sitename=#{sitename}
			,jdgsw=#{jdgsw}
			,address=#{address}
			,outermailaddr=#{outermailaddr}
			,intermailaddr=#{intermailaddr}
			,adminuserid=#{adminuserid}
			,adminusername=#{adminusername}
			,adminphoneno=#{adminphoneno}
			,adminmailaddress=#{adminmailaddress}
			,upoaid=#{upoaid}
			,upoaname=#{upoaname}
			,upoatime=current_timestamp
			,startcontactcd=#{startcontactcd}
			,startvoicepath=#{startvoicepath}
			,startvoicecycl=#{startvoicecycl}
			,startvoicecnt=#{startvoicecnt}
			,startsubject=#{startsubject}
			,startmailtext=#{startmailtext}
			,endcontactcd=#{endcontactcd}
			,endvoicepath=#{endvoicepath}
			,endvoicecycl=#{endvoicecycl}
			,endvoicecnt=#{endvoicecnt}
			,endsubject=#{endsubject}
			,endmailtext=#{endmailtext}
		WHERE
			customerno=#{customerno}
	</update>

	<!--jikahoinformuserlist登録 -->
	<insert id="insertMailAddr" parameterType="map">
		insert into tbl_jikahoinformuserlist
		(
			customerno
			,loginuser
		) values(
			#{customerno}
			,#{loginuser}
		)
	</insert>
	<!--jikahoinformuserlist削除  -->
	<delete id="deleteMailList" parameterType="string">
    	DELETE FROM tbl_jikahoinformuserlist
    	WHERE
    		customerno =#{id}
    </delete>

 </mapper>
