<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.postgre.DetailTabMapper">

	<select id="selectInfo" resultType="jp.co.info.ais.ops.domain.DetailTab">
		SELECT
				shisetsuno
				,customer
				,sitename
				,address
				,outermailaddr
				,intermailaddr
				,adminuserid
				,adminusername
				,adminmailaddress
				,upoaid
				,upoaname
				,upoatime
		FROM tbl_jikahorenrakusettei
	   WHERE shisetsuno =#{id}
	</select>



 </mapper>
