<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.postgre.SettingMapper">

	<select id="settingList" resultType="jp.co.info.ais.ops.domain.Setting">
		SELECT
			(ROW_NUMBER() OVER()) AS rownum,
			customerno,
			customer,
			status,
			sitecd,
			jdgsw,
			endjdgsw,
			starttime
		FROM tbl_jikahorenrakusettei
	</select>

	<delete id="deleteCustomerno" parameterType="String">
    	DELETE FROM tbl_jikahorenrakusettei
    	WHERE
    		customerno =#{customerno}
    </delete>

	<update id="updateStatus" parameterType="jp.co.info.ais.ops.domain.Setting">
		update tbl_jikahorenrakusettei
			<set>
			<if test="status != null and !status.equals('')">
				status=#{status},
				starttime=TO_TIMESTAMP(#{starttime}, 'YYYY/MM/DD HH24:MI:SS'),
				upoatime=TO_TIMESTAMP(#{upoatime}, 'YYYY/MM/DD HH24:MI:SS'),
				upoaid=#{upoaid},
				upoaname=#{upoaname},
			</if>

			<if test="endjdgsw != null and !endjdgsw.equals('')">
				endjdgsw=#{endjdgsw},
				upoatime=TO_TIMESTAMP(#{upoatime}, 'YYYY/MM/DD HH24:MI:SS'),
				upoaid=#{upoaid},
				upoaname=#{upoaname}
			</if>
			</set>
		where customerno= #{customerno}
	</update>

 </mapper>
