<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.postgre.UserGrantMapper">

	<!--リスト表示  -->
	<select id="selectGrantInfo" parameterType="String" resultType="String">
		SELECT
			enable
		FROM tbl_usergrant
		WHERE loginuser = #{userid}
	</select>

	<!--リスト表示  -->
	<select id="usermasterList" resultType="jp.co.info.ais.ops.domain.UserMaster">
		SELECT
			loginuser,
			enable
		FROM tbl_usergrant
		WHERE loginuser in
       <foreach item="user" index="index" collection="users" open="(" separator="," close=")">#{user.loginuser}</foreach>
	</select>

	<!--権限保存  -->
	<insert id ="saveEnable" parameterType= "jp.co.info.ais.ops.domain.UserMaster" >
			insert into tbl_usergrant
		    (
			    loginuser,
			    enable
		    )
		    VALUES
		    (
			    #{loginuser},
			    #{enable}
		    )
	</insert >

	<!--権限変更  -->
	<update id="updateEnable" parameterType= "jp.co.info.ais.ops.domain.UserMaster" >
    	update tbl_usergrant
    	set enable=#{enable}
    	WHERE loginuser = #{loginuser}
    </update>

<!--リスト表示  -->
	<select id="enableList" resultType="String">
		SELECT
			loginuser
		FROM tbl_usergrant
	</select>

	<!--権限リスト保存  -->
	<insert id ="allSaveEnable" parameterType= "java.util.List" >
			insert into tbl_usergrant
		    (
			    loginuser,
			    enable
		    )
		    VALUES
		<foreach item="user" index="index" collection="users" separator=",">
		    (
			    #{user.loginuser},
			    #{user.enable}
		    )
		</foreach>
	</insert >
 </mapper>




