<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.postgre.UserGrantMapper">

	<!--リスト表示  -->
	<select id="selectGrantInfo" parameterType="String" resultType="String">
		SELECT
			enable
		FROM tbl_usergrant
		 WHERE loginuser = #{userid}
	</select>

 </mapper>
