<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OPS:Event</title>
    <meta name="description" content="OPS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="../static/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<!-- datetimepicker -->
	<link rel="stylesheet" href="../static/assets/css/datetimepicker/jquery.datetimepicker.css">
	<!-- dataTable -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>

</head>
 <body>
    <!-- Left Panel -->
	<div th:insert="fragments/sidebar :: sidebar" th:remove="tag"></div>
    <!-- Left Panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
		<div th:insert="fragments/top_nav :: top_nav" th:remove="tag"></div>
        <!-- Header-->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>自家補連絡イベントリスト</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="col-sm-12 col-lg-12">
            	<div class="card">
            		<div class="card-body pb-0">
						<div class="col-7" style="float: left; text-align: left;">
	                        <div class="form-group" style="margin-bottom: 0.5rem !important;">
	                            <label class="form-control-label" style="font-size: 1.25em; margin-bottom: 0; padding-bottom: 0;">発生日時</label>
	                        </div>
	                        <div class="form-group form-inline">
	                            <div class="input-group">
	                                <div class="input-group-addon input-sm"><i class="fa fa-calendar"></i></div>
	                                <input type="text" name="fromDate" id="fromDate" class="form-control input-sm disabled-text" th:value="${fromDate}" required>
	                            </div>
	                            <span style="padding: 5px; font-size: medium;">時 ～　</span>
	                            <div class="input-group">
	                                <div class="input-group-addon input-sm"><i class="fa fa-calendar"></i></div>
	                                <input type="text" name="toDate" id="toDate" class="form-control input-sm disabled-text" th:value="${toDate}" required>
	                            </div>
	                            <span style="padding: 5px; padding-right: 10px; font-size: medium;">時</span>
	                            <button type="button" class="btn btn-primary btn-sm" id="searchBtn"><i class="fa fa-search"></i> 検索</button>
	                            <button type="button" class="btn btn-primary btn-sm" id="searchStopBtn" disabled="disabled" style="display: none; background-color: #6c757d; border-color: #6c757d;"><i class="fa fa-search"></i> 検索</button>
							</div><!-- /.form-inline -->
						</div><!-- /.col-9-->
						<div class="col-5" style="float: right; text-align: right; margin-top: 20px;">
						    <button type="button" id="autoexecuteBtn" class="btn btn-sm btn-primary" th:style="${session.enable} == '3' ? 'display:block text-align:center;' : 'display:none'"><i class="fa fa-refresh"></i> 自動更新</button>
						    <button type="button" class="btn btn-sm btn-primary" disabled="disabled" th:style="${session.enable} != '3' ? 'display:block text-align:center; background-color: #6c757d; border-color: #6c757d;' : 'display:none'"><i class="fa fa-refresh"></i> 自動更新</button>
						    <button type="button" id="executeStopBtn" class="btn btn-sm btn-warning" style="display: none;"><i class="fa fa-refresh"></i> 自動更新中</button>
							<button type="button" id="excelBtn" class="btn btn-sm btn-success"><i class="fa fa-print"></i> EXCEL出力</button>
							<button type="button" id="excelStopBtn" class="btn btn-sm btn-success" disabled="disabled" style="display: none; background-color: #6c757d; border-color: #6c757d;"><i class="fa fa-print"></i> EXCEL出力</button>
						</div><!-- /.col-sm-3-->
            		</div><!-- /.card-body -->
            	</div><!-- /.card -->
			</div><!--/.col-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div id="2-checkbox" class="store-select">
                                  <label class="checkbox-inline">
                                    <input class="checkbox-input" name="status1" id="status1" type="checkbox" th:checked="${status1Check}" th:value="1"><span> 正常終了</span>
                                  </label>
                                  <label class="checkbox-inline" style="padding-left:10px;">
                                    <input class="checkbox-input" name="status2" id="status2" type="checkbox" th:checked="${status2Check}" th:value="2"><span> 失敗</span>
                                  </label>
                                  <label class="checkbox-inline" style="padding-left:10px;">
                                    <input class="checkbox-input" name="kind1" id="kind1" type="checkbox" th:checked="${kind1Check}" th:value="1"><span> メール</span>
                                  </label>
                                  <label class="checkbox-inline" style="padding-left:10px;">
                                    <input class="checkbox-input" name="kind2" id="kind2" type="checkbox" th:checked="${kind2Check}" th:value="2"><span> 電話</span>
                                  </label>
                                  <label class="checkbox-inline" style="padding-left:10px;">
                                    <input class="checkbox-input" name="kind3" id="kind3" type="checkbox" th:checked="${kind3Check}" th:value="3"><span> 判定</span>
                                  </label>
                            </div>
                        </div>
                        <div class="card-body" id="store-data">
                            <table id="eventList" class="table table-striped table-bordered table-sm" style="width: 100%;">
                                <thead style="font-size: 15px;">
                                    <tr style="background-color: #000033; color:white;" class="active">
                                        <th style="text-align:center; width:10%;">発生時刻</th>
                                        <th style="text-align:center; width:28%;">施設名</th>
                                        <th style="text-align:center; width:20%;">イベント名称</th>
                                        <th style="text-align:center; width:6%;">区分</th>
                                        <th style="text-align:center; width:6%;">状態</th>
                                        <th style="text-align:center; width:20%;">補足</th>
                                        <th style="text-align:center; width:10%;"></th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 14px;">
                                      <tr th:each="list : ${list}">
                                        <td style="text-align:center;" th:text="${list.occurtime}"></td>
                                        <td th:text="${list.customer}"></td>
                                        <td th:text="${list.eventname}" th:style="${list.eventkind == '4'}
                                        									    ? 'color: red;'
                                        									    : (${list.eventkind == '2'}
                                        									    ? 'color: blue;'
                                        									    : 'color: black;')"></td>
                                        <td th:switch="${list.eventkind}" th:style="${list.eventkind == '1'}
                                        									    ? 'color: red; text-align:center;'
                                        									    : (${list.eventkind == '2'}
                                        									    ? 'color: blue; text-align:center;'
                                        									    : 'color: black; text-align:center;')">
                                        									    <span th:case == "1">メール</span>
                                        									    <span th:case == "2">電話</span>
                                        									    <span th:case == '3'>判定</span>
                                        									    <span th:case == '4'>操作</span>
 										</td>
                                        <td style="text-align:center;" th:switch="${list.status}">
                                        <span th:case == "0">ー</span>
          								<span th:case == "1">正常終了</span>
          								<span th:case == '2'>失敗</span>
                                        </td>
                                        <td th:text="${list.comments}"></td>
                            		    <td style="text-align:center;" th:value="${list.customer}" id="mailid">
                                          <button type="button" class="btn btn-sm btn-success btn_emailview"
                                            data-toggle="modal" data-target="#exampleModalScrollable" id="mailid"
                                            th:attr="data-mailid=${list.mailid},
                                                     data-maildate=${list.maildatetime},
                                                     date-mailfrom=${list.mailfrom},
                                                     date-subject=${list.mailsubject},
                                                     date-mailto=${#strings.replace(list.mailto, ' ', '&#10')},
 													 date-mailcc=${#strings.replace(list.mailcc, ' ', '&#10')},
                                                     date-mailtext=${list.mailtext}"
                                            th:style="${list.eventkind} == '1' ? 'display:block text-align:center;' : 'display:none'"><i class="fa fa-envelope"></i>メール内容確認</button>
                                          <button disabled="disabled" th:style="${list.eventkind} != '1' ? 'display:block text-align:center; background-color: #6c757d; border-color: #6c757d;' : 'display:none'" class="btn btn-sm btn-success btn_emailview"><i class="fa fa-envelope"></i>メール内容確認</button>
                                        </td>
                                    </tr>
                                    <tr th:unless="${not #lists.isEmpty( list )}">
									 <td colspan="7">検索リストが存在しません</td>
									</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <!--/.col-->


        </div> <!-- .content -->
    </div><!-- /#right-panel -->

<!-- Modal -->
 <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="top: -20px;">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content"style="width: 600px; margin: auto; right: 70px; padding-right: 25px; padding-bottom: 10px;">
     <div class="modal-header" style="padding: 0.3rem; margin: auto; border-bottom:none;">
        <h5 class="modal-title" id="exampleModalScrollableTitle">メール確認</h5>
      </div>
      <div class="modal-body" style="padding: 0.5rem; left:15px;">
      <table>
     	<thead style="font-size: 15px;">
      		<tr style="height:40px;">
    		  <th style="width: 120px;">メールID</th>
  	    	  <td><span id="mMailId"></span></td>
      		</tr>
      		<tr style="height:40px;">
    		  <th style="width: 120px;">送信時間</th>
  	    	  <td><span id="mMailDatetime"></span></td>
      		</tr>
      		<tr style="height:40px;">
    		  <th style="width: 120px;">送信者</th>
  	    	  <td><span id="mMailFrom"></span></td>
      		</tr>
      		<tr style="height:40px;">
    		  <th style="width: 120px;">件  名</th>
  	    	  <td><span id="mMailSubject"></span></td>
      		</tr>
      		<tr style="height:40px;">
    		  <th style="width: 120px;">宛先 (To)</th>
  	    	  <td><textarea id="mMailTo" cols="58" rows="1" class="border-color" disabled="disabled"></textarea></td>
      		</tr>
      		<tr style="height:40px;">
    		  <th style="width: 120px; padding-top: 10px; padding-bottom: 50px;">宛先 (CC)</th>
  	    	   <td><textarea id="mMailCc" cols="58" rows="2" class="border-color" disabled="disabled"></textarea></td>
		</thead>
		<tbody>
      		<tr style="height:25px;">
    		  <td colspan="2">
    		   <textarea name="board_content" id="mMailText" cols="75" rows="20"
    		   disabled="disabled" wrap="hard" style="font-size: 15px; white-space: pre-wrap;"></textarea>
    		  </td>
			</tr>
		</tbody>
      </table>

      </div>

      <div class="modal-footer" style="padding: 0.2rem; border-top:none;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin: auto; width: 150px;">閉じる</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

    <!-- Right Panel -->

    <script src="../static/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../static/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="../static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/main.js"></script>

	<!-- datetimepicker -->
    <script src="../static/assets/js/datetimepicker/jquery.js"></script>
    <script src="../static/assets/js/datetimepicker/jquery.datetimepicker.full.js"></script>
	<!-- dataTable -->
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

<form th:action="@{/event/}" name="hidSearchForm" id="hidSearchForm" method="post">
	<input type="hidden" id="flag" name="flag">
	<input type="hidden" id="fromDateTime" name="fromDateTime">
	<input type="hidden" id="toDateTime" name="toDateTime">
	<input type="hidden" id="chkStatus0" name="chkStatus0">
	<input type="hidden" id="chkStatus1" name="chkStatus1">
	<input type="hidden" id="chkStatus2" name="chkStatus2">
	<input type="hidden" id="chkKind1" name="chkKind1">
	<input type="hidden" id="chkKind2" name="chkKind2">
	<input type="hidden" id="chkKind3" name="chkKind3">
</form>


<script>

jQuery(document).ready(function($) {
    $.datetimepicker.setLocale("ja");
 	$('#fromDate').datetimepicker({
 	    lang:'ja'
 	});
 	$('#toDate').datetimepicker({
 	    lang:'ja'
 	});
	//DataTable Option設定
    var table = $('#eventList').DataTable( {
    	autoWidth: true,
 	    fixedHeader: true,
 	    searching: false,
 	    scrollY: 450,
 	    scrollerCollapse: true,
 	    lengthMenu: [ 15, 30, 50 ],
 	    order: [ 0, "desc" ],
        fnStandingRedraw: true,
        bStateSave: true,
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json",
        }
 	});
});

//検索処理を行う。
$('#searchBtn').on('click', function() {
	 var fDateTime = $('#fromDate').val();
 	 var tDateTime = $('#toDate').val();

 	 if(tDateTime != '' && fDateTime != ''){
 	 	 if(tDateTime < fDateTime){
 	 		 alert('開始日が終了日を超えています。');
 	 		 return false;
 	 	 }
 	 }
 	 setFormData();
 	 $('#flag').val('search');
 	 $('#hidSearchForm').submit();
});
//チェックボックス処理を行う。
$('.checkbox-input').on('change', function() {
	 var fDateTime = $('#fromDate').val();
 	 var tDateTime = $('#toDate').val();

 	 if(tDateTime != '' && fDateTime != ''){
 	 	 if(tDateTime < fDateTime){
			 return false;
 	 	 }
 	 }
 	 setFormData();
 	 $('#flag').val('search');
 	 $('#hidSearchForm').submit();
});
//チェックボックス処理が間違ったときinput条件
$('.form-control').keyup(function() {
	 var fDateTime = $('#fromDate').val();
 	 var tDateTime = $('#toDate').val();

 	if(tDateTime != '' && fDateTime != ''){
 	 	 if(tDateTime < fDateTime){
			$('.checkbox-input').prop("disabled",true);
			return false;
		}
 	 	 if(tDateTime > fDateTime){
 	 		$('.checkbox-input').prop("disabled",false);
		}
 	}
 		if(tDateTime != '' || fDateTime != ''){
 			$('.checkbox-input').prop("disabled",false);
 		}
});
//チェックボックス処理が間違ったときcheck条件
$('.form-control').change(function() {
	 var fDateTime = $('#fromDate').val();
 	 var tDateTime = $('#toDate').val();

 	if(tDateTime != '' && fDateTime != ''){
 	 	 if(tDateTime < fDateTime){
 	 		$('.checkbox-input').prop("disabled",true);
			return false;
 	 	}
 	 	 if(tDateTime > fDateTime){
 	 		$('.checkbox-input').prop("disabled",false);
		}
 	}
 		if(tDateTime != '' || fDateTime != ''){
 	 		$('.checkbox-input').prop("disabled",false);
 	 	}
});

//エクセルファイル出力処理を行う。
$('#excelBtn').on('click', function() {
	  setFormData();
	  $('#flag').val('excel');
	  $('#hidSearchForm').submit();
});
//自動実行処理を行う。
$('#autoexecuteBtn').on('click', function() {
	$('.checkbox-input').prop("disabled",true);
	$('.disabled-text').prop("disabled",true);
	$('#autoexecuteBtn').hide();
	$('#excelBtn').hide();
	$('#searchBtn').hide();
	$('#executeStopBtn').show();
	$('#excelStopBtn').show();
	$('#searchStopBtn').show();
	startAutoRenew();

});

//自動実行処理を止まる。
$('#executeStopBtn').on('click', function() {
	$('.checkbox-input').prop("disabled", false);
	$('.disabled-text').prop("disabled", false);
	$('#executeStopBtn').hide();
	$('#excelStopBtn').hide();
	$('#searchStopBtn').hide();
	$('#autoexecuteBtn').show();
	$('#excelBtn').show();
	$('#searchBtn').show();
	stopAutoRenew();
});

startAutoRenew = function() {
	  playRenew = setInterval(function() {
  	  	 callAjaxList();
	 	 $('#flag').val('search');
	 	 //$('#hidSearchForm').submit();
	  }, 5000);
};

stopAutoRenew = function() {
   	   setFormData();
	   clearInterval(playRenew);
};


function callAjaxList() {
	setFormData()
	//var queryString = $("#hidSearchForm").serialize();
    var hostUrl= /*[[@{/getListAuto}]]*/ 'getListAuto';
    var param = {
    	    "fromDateTime" : $("#fromDateTime").val(),
    	    "toDateTime" : $("#toDateTime").val(),
    	    "chkStatus0" : $("#chkStatus0").val(),
    	    "chkStatus1" : $("#chkStatus1").val(),
    	    "chkStatus2" : $("#chkStatus2").val(),
    	    "chkKind1" : $("#chkKind1").val(),
    	    "chkKind2" : $("#chkKind2").val(),
    	    "chkKind3" : $("#chkKind3").val()
    };
    $.ajax({
	  url: hostUrl,
	  type: "POST",
	  data:JSON.stringify(param),
	  dataType: "json",
	  contentType : "application/json; charset=UTF-8",
	  cache: false,
	  success: function(data, textStatus){
		  var dataLen = data.length;
          if(!data || dataLen < 1 ){
        	  //TODO:
              $('#eventList').find("tr:gt(0)").remove();
              var data = ["<tr th:unless='${not #lists.isEmpty( list )}'><td colspan='7'>検索リストが存在しません</td></tr>"];
              $('#eventList').append(data);
          }else{
              // 画面のtableタグの全てのtrタグを削除
              $('#eventList').find("tr:gt(0)").remove();
              // 該当するデータがあった場合は、取得したEventListオブジェクトのリストを
              // 画面のtableタグに表示
              let i = 0;
              for(i = 0; i < dataLen; i++){
            	  var status = data[i].status;
            	  var kind = data[i].eventkind;
            	  var comments = data[i].comments;
                  let trTag = $("<tr/>");
                  //発生時刻(1)
                  trTag.append($("<td style='text-align:center; width:10%;'></td>").text(data[i].occurtime));
    			  //施設名(2)
                  trTag.append($("<td style='width:20%;'></td>").text(data[i].customer));
    			  //イベント名称(3),区分(4)
    			  switch (kind) {
      			    case "1":
    	   			  	trTag.append($("<td style='color:black; width:20%;'></td>").text(data[i].eventname));
    		            trTag.append($("<td style='text-align:center; color:red; width:10%;'></td>").text('メール'));
    		            break;
       			  	case "2":
    	   			  	trTag.append($("<td style='color:blue; width:20%;'></td>").text(data[i].eventname));
    		            trTag.append($("<td style='text-align:center; color:blue; width:10%;'></td>").text('電話'));
    	   			  	break;
       			  	case "3":
    	   			  	trTag.append($("<td style='color:black; width:20%;'></td>").text(data[i].eventname));
    		            trTag.append($("<td style='text-align:center; width:10%;'></td>").text('判定'));
    	   			  	break;
       			  	case "4":
       			  		trTag.append($("<td style='color:red; width:20%;'></td>").text(data[i].eventname));
      	                trTag.append($("<td style='text-align:center; width:10%;'></td>").text('操作'));
       			  		break;
    				default:
    					trTag.append($("<td style='width:20%;'></td>").text(data[i].eventname));
    				    trTag.append($("<td style='text-align:center; width:10%;'></td>").text(data[i].eventkind));
    				    break;
    			  }
                  //状態(5)
    			  switch (status) {
    			    case "0":
      	                trTag.append($("<td style='text-align:center; width:10%;'></td>").text('-'));
    		            break;
      			    case "1":
      	                trTag.append($("<td style='text-align:center; width:10%;'></td>").text('正常終了'));
    		            break;
       			  	case "2":
      	                trTag.append($("<td style='text-align:center; width:10%;'></td>").text('失敗'));
    	   			  	break;
    				default:
    	                trTag.append($("<td style='text-align:center; width:10%;'></td>").text('-'));
    				    break;
    			  }
    			  //補足(6)
    			  if(comments === null || comment === ''){
                      trTag.append($("<td style='width:20%;'></td>").text(''));
    			  }else{
                      trTag.append($("<td style='width:20%;'></td>").text(comments));
    			  }
    			  //ボタン(7)
                  trTag.append($("<td style='text-align:center; width:10%;'>"
                  +"<button type='button' class='btn btn-sm btn-success btn_emailview'"
                  +"data-toggle='modal' data-target='#exampleModalScrollable' id='mailid'"
                  +"th:attr='data-mailid=${list.mailid},data-maildate=${list.maildatetime},date-mailfrom=${list.mailfrom},date-subject=${list.mailsubject},date-mailto=${#strings.replace(list.mailto, ' ', '&#10')},date-mailcc=${list.mailcc},date-mailtext=${list.mailtext}'>"
    			  +"<i class='fa fa-envelope'></i>メール内容確認</button>"
                  +"</td>"));
                  $('#eventList').append(trTag);
              }
          }
	  },
	  error: function(xhr, textStatus, errorThrown){
		  alert("エラーが発生し、データが取得できませんでした。");
	  }
	});
}


//メール内容確認
$('.btn_emailview').on('click', function() {
	  var mail_id = $(this).attr('data-mailid');
	  var mail_datetime = $(this).attr('data-maildate');
	  var mail_from = $(this).attr('date-mailfrom');
	  var mail_subject = $(this).attr('date-subject');
	  var mail_to = $(this).attr('date-mailto');
	  var mail_cc = $(this).attr('date-mailcc');
	  var mail_text = $(this).attr('date-mailtext');

	  $('#mMailId').text(mail_id);
	  $('#mMailDatetime').text(mail_datetime);
	  $('#mMailFrom').text(mail_from);
	  $('#mMailSubject').text(mail_subject);
	  $('#mMailTo').text(mail_to);
	  $('#mMailCc').text(mail_cc);
	  $("#mMailText").val(mail_text); //textarea改行処理
});

//検索条件設定
function setFormData(){
	 var fDateTime = $('#fromDate').val();
 	 var tDateTime = $('#toDate').val();
 	 $('#fromDateTime').val(fDateTime);
 	 $('#toDateTime').val(tDateTime);

 	 if($("input:checkbox[name=status1]").is(":checked") == true) {
 		 $('#chkStatus1').val('1');
	 }else{
		 $('#chkStatus1').attr('value', '');
	 }
 	 if($("input:checkbox[name=status2]").is(":checked") == true) {
 		 $('#chkStatus2').val('2');
	 }else{
		 $('#chkStatus2').attr('value', '');
	 }
 	 if($("input:checkbox[name=kind1]").is(":checked") == true) {
 		 $('#chkKind1').val('1');
	 }else{
		 $('#chkKind1').attr('value', '');
	 }
 	 if($("input:checkbox[name=kind2]").is(":checked") == true) {
 		 $('#chkKind2').val('2');
	 }else{
		 $('#chkKind2').attr('value', '');
	 }
 	 if($("input:checkbox[name=kind3]").is(":checked") == true) {
 		 $('#chkKind3').val('3');
 		 $('#chkStatus0').val('0');
	 }else{
		 $('#chkKind3').attr('value', '');
		 $('#chkStatus0').attr('value', '');
	 }
}

</script>



</body>
</html>