<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OPS:Setting</title>
    <meta name="description" content="OPS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" th:href="@{/static/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/vendors/themify-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/static/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/static/vendors/selectFX/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<!-- dataTable -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
<style>
	.margin-left{
	    margin-left: 10px !important;
	}
	table{
		table-layout: fixed;
	}
    td{
    	white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		}
	html.touch *:hover {
		pointer-events: none !important;
	}
	.customerClass, .sitNameClass{
		text-align: left;
	}
	td{
	 text-align: center;
	}
	 th {
        text-align: center !important;
    }
    .modalFont{
    	font-size:14px;
    }
</style>
</head>

<body>
    <!-- Left Panel -->
	<div th:insert="fragments/sidebar :: sidebar" th:remove="tag"></div>
    <!-- Left Panel -->

    <!-- Right Panel Start-->
    <div id="right-panel" class="right-panel">

	    <!-- Header-->
		<div th:insert="fragments/top_nav :: top_nav" th:remove="tag"></div>
	    <!-- Header-->

		<div class="breadcrumbs">
		    <div class="col-sm-4">
		        <div class="page-header float-left">
		            <div class="page-title">
		                <h1>自家補連絡設定一覧</h1>
		            </div><!-- /.page-title End-->
		        </div><!-- /.page-header End-->
		    </div><!-- /.col-sm-4 End-->
		</div> <!-- /.breadcrumbs End-->

	    <div class="content mt-3">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="card">
	                    <div class="card-header" style="float:right;">
	                        <div class="col-lg-12" style="float:right; text-align: right;">
	                            <button type="button" class="btn btn-sm btn-primary newButton" th:if="${session.enable == '3'}" onClick="newEvent();"><i class="fa fa-plus-square"></i> 新規</button>
	                            <button type="button" class="btn btn-sm btn-secondary" th:if="${session.enable != '3'}" disabled><i class="fa fa-plus-square"></i> 新規</button>
	                            <button type="button" id="excelButton" class="btn btn-sm btn-success"><i class="fa fa-print"></i> EXCEL出力</button>
	                        </div>
	                    </div>

	                    <!--設定一覧 list 表示 Start-->
	                    <div class="card-body">
	                        <table id="setList" class="table table-striped table-bordered table-sm">
	                            <thead>
	                                <tr style="background-color: #000033; color:white;">
	                                    <th style="width:5%;text-align:center;">No</th>
	                                    <th style="width:5%;" id="status">現況</th>
	                                    <th style="width:5%;" id="endjdgsw">終了判定</th>
	                                    <th style="width:10%;" id="starttime">使用開始日時</th>
	                                    <th style="width:5%;" id="jdgsw">有効</th>
	                                    <th style="width:10%;" id="customerno">お客様番号</th>
	                                    <th style="width:15%;" id="customer">施設名</th>
	                                    <th style="width:5%;" id="sitecd">サイトID</th>
	                                    <th style="width:15%;" id="sitename">サイト名</th>
	                                    <th style="width:25%;"></th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                            </tbody>
	                        </table>
	                    </div><!--/.card-body End-->
	                    <!--/設定一覧 list 表示 End-->

	                </div><!--/.card End-->
	            </div> <!--/.col End-->
	        </div> <!--/.row End-->
	    </div> <!-- /.content End-->

	    <!-- 現況変更モーダル Start-->
	  	<div class="modal fade" id="ChangeGenkyo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">自家補連絡設定</h4>
					</div>
					<div class="modal-body">
						<label class="modalFont">現況：</label>
						<label class="modalFont" id="statusLabel"></label>
	                    <label class="modalFont">です。</label><br>
	                    <label class="modalFont" id="beforeConform"></label>
						<label class="modalFont" id="conformLabel"></label><br>
						<label class="modalFont" id="timeLabel"></label>
						<input type="text" id="view_time" disabled=true />
					</div><!-- /.modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" id="genkyoChange" data-dismiss="modal" data-toggle="modal" data-target="#idCheck">はい</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">いいえ</button>
					</div>
				</div><!-- /.modal-content End-->
			</div><!-- /.modal-dialog End-->
		</div><!-- /.modal fade End-->
		<!-- /現況変更モーダル End-->

		<!-- 終了判定モーダル Start-->
		<div class="modal fade" id="ChangeEndJudg" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title　myModalLabel" >自家補連絡設定</h4>
					</div>
					<div class="modal-body">
						<label class="modalFont" id="endjdgswLabel"></label>
						<label class="modalFont">です。</label><br>
						<label class="modalFont" id="jdgbeforeConform"></label>
						<label class="modalFont" id="jdgconformLabel"></label><br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" id="idButton" data-dismiss="modal" onClick="endjdgswChange();">はい</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">いいえ</button>
					</div>
				</div><!-- /.modal-content End-->
			</div><!-- /.modal-dialog End-->
		</div><!-- /.modal fade End-->
		<!-- /終了判定モーダル End-->

		<!-- 現況変更モーダルのIDチェック Start-->
		<div class="modal fade" id="idCheck" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title　myModalLabel">自家補連絡設定</h4>
					</div>
					<div class="modal-body" style="text-align:center;">
						<label class="modalFont" id="conformLabel">データを保存します。よろしいですか？</label><br>
						<label class="modalFont" id="statusLabel">アカウント</label>
						<input type="text"   id="user" name="user" />
						<div class="alert alert-danger alert-dismissable text-left" id="errMessage" hidden="true">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" id="idCheckButton" onClick="submitId();">はい</button>
							<button type="button" class="btn btn-danger cancleButton" data-dismiss="modal">いいえ</button>
						</div>
					</div><!-- /.modal-content End-->
				</div><!-- /.modal-dialog End-->
			</div><!-- /.modal fade End-->
		</div><!-- /#right-panel End-->
		<!-- /現況変更モーダルのIDチェック End-->

		<!-- 削除モーダル Start-->
		<div class="modal fade" id="subDeleteModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
		    <div class="modal-dialog modal-sm" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title　myModalLabel" >自家補連絡設定</h5>
		                <button type="button" class="close" data-dismiss="modal" aria-label="OK">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		            </div>
		            <div class="modal-body" style="text-align: center;">
		            	<input  type="hidden" id="customernod" name="customernod" placeholder="" style="width: 290px" class="form-control input-sm">
		                <p>選択されたデータを削除します。<br>よろしいですか？</p>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-danger" data-dismiss="modal" onClick="submitDelete();">はい</button>
		                <button type="button" class="btn btn-secondary" data-dismiss="modal">いいえ</button>
		            </div>
				</div><!-- /.modal-content End-->
			</div><!-- /.modal-dialog End-->
		</div><!-- /.modal fade End-->
		<!-- /削除モーダル End-->

		<!-- 編集 hideform Start-->
		<form th:action="@{/detail/}" name="hidMainFrom" id="hidMainFrom" method="post">
			<input type="hidden" id="customernou" name="customernou">
		</form>
		<!-- /編集 hideform End-->

		<!-- Excel hideform Start-->
		<form th:action="@{/setting/}" name="flagForm" id="flagForm" method="post">
			<input type="hidden" id="flag" name="flag">
		</form>
		<!-- /Excel hideform End-->


		<form action="">
			<input type="hidden" id="sessionId" th:if="${session.id != null}" th:value="${session.id}">
			<input type="hidden" id="sessionName" th:if="${session.name != null}" th:value="${session.name}">
			<input type="hidden" id="sessionEnable" th:if="${session.enable != null}" th:value="${session.enable}">
			<input type="hidden" id="statusu">
			<input type="hidden" id="endjdgsw">
			<input type="hidden" id="starttimeu">
		</form>

	    <script th:src="@{/static/vendors/jquery/dist/jquery.min.js}"></script>
	    <script th:src="@{/static/vendors/popper.js/dist/umd/popper.min.js}"></script>
	    <script th:src="@{/static/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
	    <script th:src="@{/static/assets/js/main.js}"></script>
	    <script th:src="@{/static/assets/js/datetimepicker/jquery.js}"></script>
	    <script th:src="@{/static/assets/js/datetimepicker/jquery.datetimepicker.full.js}"></script>
		<!-- dataTable -->
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
	</div><!-- /Right Panel End-->
<script>

/*Excel Button Start*/
$("#excelButton").click(function (){
	$("#flag").val("excel");
	$('#flagForm').submit();
});

var errorMs = "アカウントが一致しません。";
var myDataTables = $("#setList").DataTable({

    /*datatableのオプション*/
	autoWidth: true,
    searching: false,
    scrollY: 550,
    scrollerCollapse: true,
    lengthMenu: [ 15, 30, 50 ],
   	language: {
    	"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
    },
   ajax: {
   	/*コントロールのメソッドのパス*/
   url: /*[[@{/getListAuto}]]*/ 'getListAuto',
   type: "POST",
   dataType: "json",
   contentType : "application/json; charset=UTF-8",
   dataSrc: ''
   },

    /*順番通りカラムに設定する*/
    columnDefs:[
   		{targets: [0], data: "rownum"},
        {targets: [1], data: function ( d ) {
	       	if(d.status == '1') {
	       		return '使用中';
	       	} else {
	       		return '未使用';
	       	}
        }},
        {targets: [2], data: function ( d ) {
        	if(d.endjdgsw == '1') {
        		return '適用中';
        	} else {
        		return '未適用';
        	}
        }},
        {targets: [3], data: function ( d ) {
        	if(d.status == '1'&&d.starttime!=null) {
        		var str = d.starttime;
        		return str.replace(/-/g,"/");
        	}else{
        		return "-";
        	}
       	}},
   	   	{targets: [4], data: function ( d ) {
           	if(d.jdgsw == '1') {
           		return '✔';
           	} else {
           		return '-';
           	}
        }},
    	{targets: [5], data: "customerno"},
    	{className: "customerClass", targets: [6], data: "customer"},
    	{targets: [7],data: "sitecd"},
    	{className: "sitNameClass", targets: [8], data: "sitename"},
    	/*renderを利用してボタンを生成*/
		{targets: [9],
    		data: "description_u",
               render: function ( data, type, row, meta ) {
               	if(row.enable=='3'){
               	   return '<button type="button" name="changeButton" class="btn btn-sm btn-primary updateButton margin-left"><i class="fa fa-edit"></i>編集</button>'
                      +'<button type="button" name="deleteButton" class="btn btn-sm btn-danger deleteButton margin-left" data-toggle="modal" data-target="#subDeleteModal"><i class="fa fa-eraser"></i>削除</button>'
                      +'<button type="button" class="btn btn-sm btn-info btn_change_genkyo margin-left" data-toggle="modal" data-target="#ChangeGenkyo"><i class="fa fa-refresh"></i>現況変更</button>'
                      +'<button type="button" class="btn btn-sm btn-info btn_change_end_judg margin-left" data-toggle="modal" data-target="#ChangeEndJudg"><i class="fa fa-refresh"></i>終了判定切替</button>';
               	}else{
               		 return '<button type="button" name="changeButton" class="btn btn-sm btn-secondary  margin-left" disabled><i class="fa fa-edit"></i>編集</button>'
                        +'<button type="button" name="deleteButton" class="btn btn-sm btn-secondary  margin-left" disabled><i class="fa fa-eraser"></i>削除</button>'
                        +'<button type="button" class="btn btn-sm btn-secondary  margin-left" disabled><i class="fa fa-refresh" ></i>現況変更</button>'
                        +'<button type="button" class="btn btn-sm btn-secondary  margin-left" disabled><i class="fa fa-refresh" ></i>終了判定切替</button>';
               	}
               }
		}
    ],
	    rowCallback: function( row, data, dataIndex ) {
	        if ( data.status == '1') {
	          $(row).find('td:eq(1)').css('color','red');
	        } else {
	          $(row).find('td:eq(1)').css('color','black');
	        }


	        if ( data.endjdgsw == '1') {
		          $(row).find('td:eq(2)').css('color','red');
		        } else {
		          $(row).find('td:eq(2)').css('color','black');
		        }

	    }
	});


/*新規ボタンをクリックしてdetailページに遷移される*/
function newEvent(){
	$('#customernou').val('');
	$('#hidMainFrom').submit();
}

/*削除ボタンをクリックした時の処理*/
$('#setList').on('click', '.deleteButton', function() {
	var customerno = $(this).closest('tr').find('td:eq(5)').text();
	$('#customernod').val(customerno);
});


/*削除するためcustomernoを取得する*/
function submitDelete() {
	 var customerno =$('#customernod').val();
	        /*　OKの時の処理  今回は特に処理がないので空*/
	    	  /* OKの時の処理 */
	    	$.ajax({
	    		url: /*[[@{/delete}]]*/ 'delete',
	    		type : "POST",
	    		dataType : "json",
	    		contentType : 'application/JSON',
	    		data : customerno
	    	}).success(function(result) {
	    		if(result>0){
	    			location.href = '/ops/setting/';
	    	}else{
	    		alert('削除失敗');
	    		}
	    	}).error(function(xhr, textStatus, error) {
	    		alert('通信失敗');
	    	});
}

/*編集時画面遷移*/
$('#setList').on('click', '.updateButton', function() {
	var customerno = $(this).closest('tr').find('td:eq(5)').text();
	$('#customernou').val(customerno);
	$('#hidMainFrom').submit();
});

//終了判定切替モーダルの内容表示の出し分け
$('#setList').on('click', '.btn_change_end_judg', function() {
	var customerno = $(this).closest('tr').find('td:eq(5)').text();
	var endjdgsw = $(this).closest('tr').find('td:eq(2)').text();

	$('#customernou').val(customerno);
	$('#endjdgsw').val(endjdgsw);
	if(endjdgsw=='適用中'){
		$("#endjdgswLabel").text(endjdgsw);
		$("#endjdgswLabel").css('color','red');
		$("#jdgbeforeConform").text('未適用に変更しますか？');
	}else{
		$("#endjdgswLabel").text(endjdgsw);
		$("#jdgbeforeConform").text('適用中');
		$("#jdgbeforeConform").css('color','red');
		$("#jdgconformLabel").text('に変更しますか？');
	}
});
// 現況変更モーダルの内容表示の出し分け
$('#setList').on('click', '.btn_change_genkyo', function() {
	var customerno = $(this).closest('tr').find('td:eq(5)').text();
	var status = $(this).closest('tr').find('td:eq(1)').text();
	var starttime = getCurrentTime();
	$('#customernou').val(customerno);
	$('#statusu').val(status);
	$('#starttimeu').val(starttime);
	if(status=='使用中'){
		$("#statusLabel").text(status);
		$("#statusLabel").css('color','red');
		$("#beforeConform").text('未使用に変更しますか？');
		$('#view_time').attr("type", "hidden");
	}else{
		$("#statusLabel").text(status);
		$("#beforeConform").text('使用中');
		$("#beforeConform").css('color','red');
		$("#conformLabel").text('に変更しますか？');
		var settingTime=starttime.replace(/-/g,"/");
		$('#view_time').val(settingTime);
		$('#view_time').attr("type", "text");
	}
});

//現在時刻取得（yyyymmddhhmm
function getCurrentTime() {
    var now = new Date();
    var res = "" + now.getFullYear() +"-" +padZero(now.getMonth() + 1) +"-"+ padZero(now.getDate()) +" "+ padZero(now.getHours())+":" +
        padZero(now.getMinutes())+ ":"+padZero(now.getSeconds());

    return res;
}

//先頭ゼロ付加
function padZero(num) {
    return (num < 10 ? "0" : "") + num;
}

$('.cancleButton').on('click', function() {
	$("#errMessage").text('');
	$("#errMessage")[0].hidden = true;

});
/*sessionidと入力したIDを比較*/
function submitId(){
	var user=$('#user').val();
	var sessionId=$('#sessionId').val();
	if(sessionId==""||sessionId==null){
		alert("ログインしてほしいです。");
		return false;
	}
	if(user===sessionId){
		genkyoChange();
		$("#errMessage").val('');
		$("#errMessage")[0].hidden = true;
	}else{
		$("#errMessage").text(errorMs);
		$("#errMessage")[0].hidden = false;
	}

}
/*終了判定を変更する*/
function endjdgswChange(){
	var obj = new Object();
	var customerno = $('#customernou').val();
	var nowendjdgsw = $('#endjdgsw').val();
	var endjdgsw = "";

	if(nowendjdgsw == '適用中'){
		endjdgsw = 0;
	}else{
		endjdgsw = 1;
	}
	obj.endjdgsw = endjdgsw;
	obj.customerno = customerno;

	var jsonData = JSON.stringify(obj);

	$.ajax({
		url: /*[[@{/updateStatus}]]*/ 'updateStatus',
		type : "POST",
		dataType : "json",
		contentType : 'application/JSON',
		data : jsonData
	}).success(function(result) {
		if(result>0){
			location.href = '/ops/setting/';
	}else{
		alert('現況変更失敗');
		}
	}).error(function(xhr, textStatus, error) {
		alert('通信失敗');
	});
}
/*現況を変更する*/
function genkyoChange(){

	var obj = new Object();
	var genkyostatus = $('#statusu').val();
	var customerno = $('#customernou').val();
	var starttime = $('#starttimeu').val();
	var status="";

	if(genkyostatus=='使用中'){
		status=0;
	}else{
		status=1;
	}

	obj.status=status;
	obj.customerno=customerno;
	obj.starttime=starttime;
	var jsonData = JSON.stringify(obj);

	$.ajax({
		url: /*[[@{/updateStatus}]]*/ 'updateStatus',
		type : "POST",
		dataType : "json",
		contentType : 'application/JSON',
		data : jsonData
	}).success(function(result) {
		if(result>0){
			location.href = '/ops/setting/';
	}else{
		alert('現況変更失敗');
		}
	}).error(function(xhr, textStatus, error) {
		alert('通信失敗');
	});
}

</script>

</body>

</html>
