<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OPS:Setting</title>
    <meta name="description" content="OPS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="../static/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<!-- dataTable -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
<style>
.margin-left{
       margin-left: 10px !important;
}
    tr,td {
        text-align: center;
      }

</style>
</head>

<body>
    <!-- Left Panel -->
	<div th:insert="fragments/sidebar :: sidebar" th:remove="tag"></div>
    <!-- Left Panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
		<div th:insert="fragments/top_nav :: top_nav" th:remove="tag"></div>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>自家補連絡設定一覧</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="float:right;">
                            <div class="col-lg-12" style="float:right; text-align: right;">
                                <button type="button" class="btn btn-sm btn-primary" onClick="newEvent();"><i class="fa fa-plus-square"></i> 新規</button>
                                <button type="button" id="excelButton" class="btn btn-sm btn-success"><i class="fa fa-print"></i> EXCEL出力</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="setList" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr style="background-color: #000033; color:white;">
                                        <th style="text-align:center;">No</th>
                                        <th id="status">現況</th>
                                        <th id="endjdgsw">終了判定</th>
                                        <th id="starttime">使用開始日時</th>
                                        <th id="jdgsw">有効</th>
                                        <th id="shisetsuno">お客さま番号</th>
                                        <th id="customer">施設名</th>
                                        <th id="sitecd">サイトID</th>
                                        <th id="sitename">サイト名</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
            <!--/.col-->

        </div> <!-- .content -->
                         <!-- 現況変更モーダル -->
                        <div class="modal fade" id="ChangeGenkyo" tabindex="-1" role="dialog"
							aria-labelledby="basicModal" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">自家補連絡設定</h4>
									</div>
									<div class="modal-body">
										<label>現況：</label>
										<label id="statusLabel"></label>
                                        <label>です。</label>
                                        <br>
                                        <label id="beforeConform"></label>
										<label id="conformLabel"></label><br>
										<label id="timeLabel"></label>
										<input type="text" id="view_time" disabled=true />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" id="genkyoChange" data-dismiss="modal" data-toggle="modal" data-target="#idCheck">はい</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">いいえ</button>
									</div>
								</div>
							</div>
						</div>
						<!-- 終了判定モーダル -->
						<div class="modal fade" id="ChangeEndJudg" tabindex="-1" role="dialog"
							aria-labelledby="basicModal" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title　myModalLabel" >自家補連絡設定</h4>
									</div>
									<div class="modal-body">
										<label id="endjdgswLabel"></label>
										 <label>です。</label><br>
										  <label id="jdgbeforeConform"></label>
										<label id="jdgconformLabel"></label><br>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" id="idButton" data-dismiss="modal" onClick="endjdgswChange();">はい</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">いいえ</button>
									</div>
								</div>
							</div>
						</div>
						<!-- 現況変更モーダルのIDチェック -->
						<div class="modal fade" id="idCheck" tabindex="-1" role="dialog"
							aria-labelledby="basicModal" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title　myModalLabel">自家補連絡設定</h4>
									</div>
									<div class="modal-body" style="text-align:center;">
									<label id="conformLabel">データを保存します。よろしいですか？</label><br>
										<label id="statusLabel">アカウント</label>
										<input type="text"   id="user" name="user" />

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" id="idCheckButton" data-dismiss="modal"onClick="submitId();">はい</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">いいえ</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Delete1 Modal Part Start-->
						<div class="modal fade" id="subDeleteModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
						    <div class="modal-dialog modal-sm" role="document">
						        <div class="modal-content">
						            <div class="modal-header">
						                <h5 class="modal-title　myModalLabel" >自家補連絡設定</h5>
						                <button type="button" class="close" data-dismiss="modal" aria-label="OK">
						                    <span aria-hidden="true">&times;</span>
						                </button>
						            </div>
						            <div class="modal-body" style="text-align: center;">
						             <input  type="hidden" id="shisetsunod" name="shisetsunod" placeholder="" style="width: 290px" class="form-control input-sm">
						                <p>
						                    選択されたデータを削除します。<br>よろしいですか？
						                </p>
						            </div>
						            <div class="modal-footer">
						                <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="submitDelete();">はい</button>
						                <button type="button" class="btn btn-danger" data-dismiss="modal">いいえ</button>
						            </div>
						        </div>
						    </div>
						</div>
					<!-- Cancel Modal Part End-->
<form th:action="@{/detail/}" name="hidMainFrom" id="hidMainFrom" method="post">
<input type="hidden" id="sessionId" th:if="${session.id != null}" th:value="${session.id}">
<input type="hidden" id="shisetsunou">
<input type="hidden" id="statusu">
<input type="hidden" id="endjdgswu">
<input type="hidden" id="starttimeu">

</form>
<form th:action="@{/setting/}" name="flagFrom" id="flagFrom" method="post">

<input type="hidden" id="flag" name="flag">
</form>
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="../static/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../static/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="../static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/main.js"></script>

    <script src="../static/assets/js/datetimepicker/jquery.js"></script>
    <script src="../static/assets/js/datetimepicker/jquery.datetimepicker.full.js"></script>
	<!-- dataTable -->
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>



<script>

$("#excelButton").click(function (){
	$("#flag").val("excel");
	$('#flagFrom').submit();
});


var myDataTables = $("#setList").DataTable({

    /*datatableのオプション*/
		autoWidth: true,
 	    searching: false,
 	    scrollY: 550,
 	    scrollerCollapse: true,
 	    lengthMenu: [ 15, 30, 50 ],
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
        },
	    ajax: {
	    	/*コントロールのメソッドのパス*/
		   url: /*[[@{/getListAuto}]]*/ 'getListAuto',
		   type: "POST",
		   dataType: "json",
		   contentType : "application/json; charset=UTF-8",
		   dataSrc: ''
	    },

	    /*順番通りカラムに設定する*/
	    columns:[
	    	{data: "rownum"},
            { data: function ( d ) {
            	if(d.status == 0) {
            		return '使用中';
            	} else {
            		return '未使用';
            	}
            }},
            { data: function ( d ) {
            	if(d.endjdgsw == 0) {
            		return '適用中';
            	} else {
            		return '未適用';
            	}
            }},
            { targets: 5, data: function ( d ) {
            	if(d.starttime !=null) {
            		var str = d.starttime;
            		return str.replace(/-/g,"/");
            	}else{
            		return "-";
            	}
            	}},
	    	   { data: function ( d ) {
	            	if(d.jdgsw == 0) {
	            		return '✔';
	            	} else {
	            		return ' ';
	            	}
	            }},
	    	{data: "shisetsuno"},
	    	{data: "customer"},
	    	{data: "sitecd"},
	    	{data: "sitename"},
	    	/*renderを利用してボタンを生成*/
			{
	    		data: "description_u",
                render: function ( data, type, row, meta ) {
                  return '<button type="button"name="changeButton" class="btn btn-sm btn-primary updateButton margin-left"><i class="fa fa-edit"></i>編集</button>'
                  +'<button type="button"  name="deleteButton" class="btn btn-sm btn-danger deleteButton margin-left" data-toggle="modal" data-target="#subDeleteModal"><i class="fa fa-eraser"></i>削除</button>'
                  +'<button type="button" class="btn btn-sm btn-info btn_change_genkyo margin-left" data-toggle="modal" data-target="#ChangeGenkyo"><i class="fa fa-refresh"></i>現況変更</button>'
                  +'<button type="button" class="btn btn-sm btn-info btn_change_end_judg margin-left" data-toggle="modal" data-target="#ChangeEndJudg"><i class="fa fa-refresh"></i>終了判定切替</button>';
                   }
			}
	    ],
	    rowCallback: function( row, data, dataIndex ) {
	        if ( data.status == 0 ) {
	          $(row).find('td:eq(1)').css('color','red');
	        } else {
	          $(row).find('td:eq(1)').css('color','black');
	        }
	        if ( data.endjdgsw == 0 ) {
		          $(row).find('td:eq(2)').css('color','red');
		        } else {
		          $(row).find('td:eq(2)').css('color','black');
		        }

	    }
	});

/*新規ボタンをクリックしてdetailページに遷移される*/
function newEvent(){
	location.href="/ops/detail/";
}

/*削除ボタンをクリックした時の処理*/
$('#setList').on('click', '.deleteButton', function() {
	var shisetsuno = $(this).closest('tr').find('td:eq(5)').text();
	$('#shisetsunod').val(shisetsuno);
});



/*削除するためshisetsunoを取得する*/
function submitDelete() {
	 var shisetsuno =$('#shisetsunod').val();
	        /*　OKの時の処理  今回は特に処理がないので空*/
	    	  /* OKの時の処理 */
	    	$.ajax({
	    		url: /*[[@{/delete}]]*/ 'delete',
	    		type : "POST",
	    		dataType : "json",
	    		contentType : 'application/JSON',
	    		data : shisetsuno
	    	}).success(function(result) {
	    		if(result>0){
	    			location.href = '/ops/setting/';
	    	}else{
	    		alert('削除失敗');
	    		}
	    	}).error(function(xhr, textStatus, error) {
	    		alert('通信失敗');
	    	});
}

/*編集時画面遷移*/
$('#setList').on('click', '.updateButton', function() {
		  var shisetsuno = $(this).closest('tr').find('td:eq(5)').text();
		  $('#shisetsunou').val(shisetsuno);
	    $('#hidMainFrom').submit();
	  });

//終了判定切替モーダルの内容表示の出し分け
$('#setList').on('click', '.btn_change_end_judg', function() {
	var shisetsuno = $(this).closest('tr').find('td:eq(5)').text();
	var endjdgsw = $(this).closest('tr').find('td:eq(2)').text();

	$('#shisetsunou').val(shisetsuno);
	$('#endjdgswu').val(endjdgsw);
	if(endjdgsw=='適用中'){
		$("#endjdgswLabel").text(endjdgsw);
		$("#endjdgswLabel").css('color','red');
		$("#jdgbeforeConform").text('未適用に変更しますか？');
	}else{
		$("#endjdgswLabel").text(endjdgsw);
		$("#jdgbeforeConform").text('適用中');
		$("#jdgbeforeConform").css('color','red');
		$("#jdgconformLabel").text('に変更しますか？');
	}
});
// 現況変更モーダルの内容表示の出し分け
$('#setList').on('click', '.btn_change_genkyo', function() {
	var shisetsuno = $(this).closest('tr').find('td:eq(5)').text();
	var status = $(this).closest('tr').find('td:eq(1)').text();
	var starttime = getCurrentTime();
	$('#shisetsunou').val(shisetsuno);
	$('#statusu').val(status);
	$('#starttimeu').val(starttime);
	if(status=='使用中'){
		$("#statusLabel").text(status);
		$("#statusLabel").css('color','red');
		$("#beforeConform").text('未使用に変更しますか？');
		$('#view_time').attr("type", "hidden");
	}else{
		$("#statusLabel").text(status);
		$("#beforeConform").text('使用中');
		$("#beforeConform").css('color','red');
		$("#conformLabel").text('に変更しますか？');
		var settingTime=starttime.replace(/-/g,"/");
		$('#view_time').val(settingTime);
		$('#view_time').attr("type", "text");
	}
});

//現在時刻取得（yyyymmddhhmm
function getCurrentTime() {
    var now = new Date();
    var res = "" + now.getFullYear() +"-" +padZero(now.getMonth() + 1) +"-"+ padZero(now.getDate()) +" "+ padZero(now.getHours())+":" +
        padZero(now.getMinutes())+ ":"+padZero(now.getSeconds());

    return res;
}

//先頭ゼロ付加
function padZero(num) {
    return (num < 10 ? "0" : "") + num;
}

/*sessionidと入力したIDを比較*/
function submitId(){
	var user=$('#user').val();
	var sessionId=$('#sessionId').val();
	if(sessionId==""||sessionId==null){
		alert("ログインしてほしいです。");
		return false;
	}
	if(user===sessionId){
		genkyoChange();
	}else{
		alert("IDが違います。");
	}
}
/*終了判定を変更する*/
function endjdgswChange(){
	var obj = new Object();
	var shisetsuno = $('#shisetsunou').val();
	var nowendjdgsw=$('#endjdgswu').val();
	var endjdgsw="";
	if(nowendjdgsw=='適用中'){
		endjdgsw=1;

	}else{
		endjdgsw=0;
	}

	obj.endjdgsw=endjdgsw;
	obj.shisetsuno=shisetsuno;

	var jsonData = JSON.stringify(obj);

	$.ajax({
		url: /*[[@{/updateStatus}]]*/ 'updateStatus',
		type : "POST",
		dataType : "json",
		contentType : 'application/JSON',
		data : jsonData
	}).success(function(result) {
		if(result>0){
			location.href = '/ops/setting/';
	}else{
		alert('現況変更失敗');
		}
	}).error(function(xhr, textStatus, error) {
		alert('通信失敗');
	});
}
/*現況を変更する*/
function genkyoChange(){
	var obj = new Object();
	var genkyostatus = $('#statusu').val();
	var shisetsuno = $('#shisetsunou').val();
	var starttime = $('#starttimeu').val();
	var status="";

	if(genkyostatus=='使用中'){
		status=1;
		starttime=null;
	}else{
		status=0;
	}

	obj.status=status;
	obj.shisetsuno=shisetsuno;
	obj.starttime=starttime;
	var jsonData = JSON.stringify(obj);

	$.ajax({
		url: /*[[@{/updateStatus}]]*/ 'updateStatus',
		type : "POST",
		dataType : "json",
		contentType : 'application/JSON',
		data : jsonData
	}).success(function(result) {
		if(result>0){
			location.href = '/ops/setting/';
	}else{
		alert('現況変更失敗');
		}
	}).error(function(xhr, textStatus, error) {
		alert('通信失敗');
	});
}

</script>

</body>

</html>
