<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OPS:Master</title>
    <meta name="description" content="OPS">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 	<link rel="stylesheet" th:href="@{/static/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/vendors/themify-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/static/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/static/vendors/selectFX/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<!-- dataTable -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
<style>
body{
	overflow:hidden;
}
</style>
</head>

<style type="text/css">
.item {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
tr,td {
	text-align: center;
}
</style>

<body>
    <!-- Left Panel -->
	<div th:insert="fragments/sidebar::sidebar" th:remove="tag"></div>
    <!-- Left Panel -->
    <!-- Right Panel -->
	<div id="right-panel" class="right-panel">
        <!-- Header-->
		<div th:insert="fragments/top_nav :: top_nav" th:remove="tag"></div>
        <!-- Header-->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>ユーザー権限設定</h1>
                    </div>
                </div>
            </div>
        </div><!-- /.breadcrumbs -->
        <div class="content mt-3">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
				  <div class="card-header" style="float:right;">
                         <div class="col-7" style="float: left; text-align: left;">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                              <div class="input-group">
                                <label style="font-size:15px; margin-right:15px; margin-left:20px;" >
                                ユーザー名称
                                </label>
                                <input class="form-control input-sm" type="text"  style="margin-right:50px; width:150px;" id ="username" name = "username" />
                            </div>
                            <div class="input-group">
                                <label style="font-size:15px; margin-right:15px; margin-left:20px;" >
                                ユーザーカナ
                                </label>
                                <input class="form-control input-sm" id="userkana" name="userkana"type="text"
                                maxlength="15;" style="margin-right:15px; width:150px;  "/>
                            </div>

                            <button type="button" class="btn btn-sm btn-primary searchButton" id="searchButton" name="searchButton"><i class="fa fa-search"></i> 検索</button>
                        </div>
                    </div>
					<div class="col-5" style="float: right; text-align: right; margin-top: 3px;">
                       <button type="button" class="btn btn-success btn-sm saveButton" th:if="${session.enable == '3'}"  ><i class="fa fa-save"></i>&nbsp; 保存</button>
 					   <button type="button" class="btn btn-secondary btn-sm" th:if="${session.enable != '3'}"  ><i class="fa fa-save"></i>&nbsp; 保存</button>
                       <button type="button" class="btn btn-danger btn-sm cancelButton" ><i class="fa fa-repeat"></i>&nbsp; キャンセル</button>
					</div>
                        </div>
	                <div class="card-body">
                         <table id="masterList" class="table table-striped table-bordered table-sm">
                             <thead>
                                 <tr style="background-color: #000033; color:white;">
                                     <th style="text-align:center;width: 15%; font-size: 14px;">権限</th>
                                     <th style="text-align:center;width: 30%; font-size: 14px;">ユーザー名称</th>
                                     <th style="text-align:center;width: 40%; font-size: 14px;">ユーザーカナ</th>
                                     <th style="text-align:center;width: 15%; font-size: 14px;">アカウント</th>
                                 </tr>
                             </thead>
                             <tbody>
                             </tbody>
                         </table>
	                </div><!-- /.card-body -->
				</div><!-- /.card -->
			</div><!-- /.col -->
		</div><!-- /.row -->
		  </div><!-- content mt-3 -->
    </div><!-- /.right-panel -->
    <!-- Right Panel -->
    <form action="">
<input type="hidden" id="sessionId" th:if="${session.id != null}" th:value="${session.id}">
<input type="hidden" id="sessionName" th:if="${session.name != null}" th:value="${session.name}">
<input type="hidden" id="sessionEnable" th:if="${session.enable != null}" th:value="${session.enable}">
</form>
     <script th:src="@{/static/vendors/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/static/vendors/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/static/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/assets/js/main.js}"></script>
    <script th:src="@{/static/assets/js/datetimepicker/jquery.js}"></script>
    <script th:src="@{/static/assets/js/datetimepicker/jquery.datetimepicker.full.js}"></script>
	<!-- dataTable -->
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<script>

$('.searchButton').on('click', function() {
	var keywordKana = $('#userkana').val();
	var keywordName = $('#username').val();
	 $("#masterList tr").each(function(index) {
	        if (index != 0) {
	            $row = $(this);
	            if (keywordKana == "" && keywordName == "") {
	            	$(this).show();
	     		        } else {
	     		        	$(this).hide();

	     		        	if(keywordKana != ""){
	     		        	   $(".findkana:contains('"+keywordKana+"')").parents('tr').show();
	     		        	}
	     		        	if(keywordName != ""){
	     	           		   $(".findname:contains('"+keywordName+"')").parents('tr').show();
	     		        	}
	     		        }
	        }
	    });
});

$('.cancelButton').click(function(){
	location.href="/ops/master/";
});

var html = '<select class="enableFind" name="enable"><option value="-1"></option>'
	+'<option value="0">権限なし</option>'
	+'<option value="1">参照</option>'
	+'<option value="3">参照・変更</option>'
 	+'</select>';
var myDataTables = $("#masterList").DataTable({
	/*datatableのオプション*/
		autoWidth: true,
	    searching: false,
	    scrollY: 550,
	    scrollerCollapse: true,
	    paging: false,
    language: {
        "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
    },
    ajax: {
    	/*コントロールのメソッドのパス*/
	   url: /*[[@{/getUserMasterListAuto}]]*/ 'getUserMasterListAuto',
	   type: "POST",
	   dataType: "json",
	   contentType : "application/json; charset=UTF-8",
	   dataSrc: ''
    },
    /*順番通りカラムに設定する*/
    columnDefs:[
    	{ className:"enable", targets:[0], data: "enable",
   		  render: function ( data, type, row, meta ) {
   			return html;
    }
	},
    	{className:"findname", targets:[1], data: "username"},
    	{className:"findkana", targets:[2], data: "usernamekana"},
    	{className:"loginuser", targets:[3], data: "loginuser"}

    ],
    rowCallback: function( row, data, dataIndex ) {
        if(data.enable=='0'){


            $(row).find(".enableFind option:eq(1)").attr("selected", "selected");
        }else if(data.enable=='1'){
        	$(row).find(".enableFind option:eq(2)").attr("selected", "selected");

        }else if(data.enable=='3'){
        	$(row).find(".enableFind option:eq(3)").attr("selected", "selected");

        }else{
        	$(row).find(".enableFind option:eq(0)").attr("selected", "selected");
    }
    }
});



$('.saveButton').on('click', function() {

	var param = new Array();
   $("#masterList tr").each(function(index) {
    if (index != 0) {
    	var master = new Object();
        var loginuser = $(this).closest('tr').find('td:eq(3)').text();
        var enable = $(this).find(".enableFind option:selected").val();

        if(enable == -1){
        	enable = 0;
        }

        master.enable = enable;
        master.loginuser = loginuser;
       	param.push(master);
   }
    });

  $.ajax({
		url: /*[[@{/saveEnable}]]*/ 'saveEnable',
		type : "POST",
		dataType : "json",
		contentType : 'application/JSON',
		data : JSON.stringify(param)
	}).success(function(result) {
		if(result>0){
			location.href = '/ops/master/';
		}else{
			alert('保存出来ません。');
		}
	}).error(function(xhr, textStatus, error) {
		alert('通信失敗');
	});
});

</script>

</body>
</html>
