<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.info.ais.ops.mapper.EventMapper">

	<select id="selectEventList" parameterType="map" resultType="jp.co.info.ais.ops.domain.EventList">
		SELECT tl.occurtime AS occurtime,
		       tl.customer AS customer ,
		       tl.mailid AS mailid,
		       tl.upoaid AS upoaid,
		       tl.status AS status,
		       tl.comments AS comments,
		       te.eventname AS eventname,
    	       te.eventkind AS eventkind,
		       tm.mailtext AS mailtext,
			   tm.mailkind AS mailkind,
			   tm.maildatetime AS maildatetime,
			   tm.mailsubject AS mailsubject,
			   tm.mailfrom AS mailfrom,
			   tm.mailto AS mailto,
			   tm.mailcc AS mailcc
		 FROM tbl_jikahoeventid te, tbl_jikahoeventlist tl, tbl_jikahomaillist tm
		WHERE te.eventid = tl.eventid
		  AND tl.mailid = tm.mailid
          <if test= "(fromDate != null and fromDate != '') and (toDate != null and toDate != '')">
			  AND tl.occurtime BETWEEN to_timestamp(#{fromDate}, 'yyyy-mm-dd hh24:mi:ss') AND to_timestamp(#{toDate}, 'yyyy-mm-dd hh24:mi:ss')
          </if>

	      <if test= "(fromDate != null and fromDate != '') and (toDate == null or toDate == '')">
			  <![CDATA[ AND tl.occurtime >= to_timestamp(#{fromDate}, 'yyyy-mm-dd hh24:mi:ss') ]]>
		  </if>
	      <if test= "(fromDate == null or fromDate == '') and (toDate != null and toDate != '')">
			  <![CDATA[ AND tl.occurtime <= to_timestamp(#{toDate}, 'yyyy-mm-dd hh24:mi:ss') ]]>
		  </if>

        <if test="status != null and status != ''">
              AND tl.status IN
		    <foreach item="item" index="index" collection="status" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="kinds != null and kinds != ''">
              AND te.eventkind IN
		    <foreach item="item" index="index" collection="kinds" open="(" separator="," close=")">#{item}</foreach>
        </if>
		ORDER BY tl.occurtime DESC
	</select>

 </mapper>
